/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 320px;
  font-family: $montserrat;
  color: $base-black;
}

.container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
