/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 320px;
  font-family: $montserrat;
}

.container {
  @media (min-width: $desktop-width) {
    width: 1360px;
    margin: 0 auto;
  }
}
