/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $montserrat;
}

.container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}
