/* здесь используйте глобальные переменные */

/* Base Colors */
$base-white: #ffffff;
$base-gray: #bdbdbd;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;

/* Alt Colors */
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-gray: #e2e2e2;

/* Background Colors */
$lightest-gray: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;
$card-shadow: rgba(0, 0, 0, 0.15);

/* Screen Width */
$tablet-width: 768px;
$desktop-width: 1440px;
