/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* HEADER */
@import "./blocks/header.scss";
@import "./blocks/user-menu.scss";
@import "./blocks/main-menu.scss";

/* MAIN */
@import "./blocks/main.scss";
@import "./blocks/map.scss";
@import "./blocks/hero.scss";
@import "./blocks/slider.scss";
@import "./blocks/slide.scss";
@import "./blocks/controls.scss";
@import "./blocks/slider-pagination.scss";

/* FOOTER */
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/shop.scss";
@import "./blocks/media.scss";
@import "./blocks/contacts.scss";
@import "./blocks/developer.scss";
