.advantage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 4px;
  padding: 66px 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 52px;
    height: 56px;
  }

  &--fast {
    &::before {
      background-image: url("../../icons/features-fast-icon.svg");
    }
  }

  &--comfort {
    &::before {
      background-image: url("../../icons/features-comfort-icon.svg");
    }
  }

  &--energy {
    &::before {
      background-image: url("../../icons/features-energy-icon.svg");
    }
  }

  &--ecology {
    &::before {
      background-image: url("../../icons/features-ecology-icon.svg");
    }
  }

  @media (min-width: $tablet-width) {
    row-gap: 10px;
    padding: 0 0 0 72px;

    &::before {
      top: 4px;
      left: 0;
      transform: translateX(0);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 0;

    &::before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.advantage__title {
  grid-row: 1 / 2;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantage__text {
  grid-row: 2 / 3;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
