.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 30px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.advantages__badge {
  order: -1;
  min-height: 16px;
  max-width: 280px;
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $base-primary;
}

.advantages__title {
  margin: 0 0 36px;
  min-height: 72px;
  max-width: 280px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;
    max-width: 708px;
    min-height: 128px;
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 80px;
    min-height: 64px;
    max-width: 1360px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
