.card {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }
}

.card__image {
  justify-self: center;
  display: block;
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px;
  }
}

.card__title {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.card__text {
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
}

.card__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  padding: 2px 0;
}

.card__button {
  position: relative;
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  color: $base-white;
  background-color: $base-primary;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    display: block;
    width: 20px;
    height: 16px;
    background-image: url("../../icons/stack.svg#card-button-icon");
  }

  &:hover {
    background-color: $primary-lighter;
  }

  &:not(:disabled):active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-gray;
  }
}
