.card {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.15));
    }
  }
}

.card__image {
  justify-self: center;
  display: block;
  margin: 0 auto 24px;
  max-width: 100%;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    margin: 0 auto 30px;
  }
}

.card__title {
  min-height: 32px;
  max-width: 240px;
  margin: 0 0 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    min-height: 36px;
    max-width: 289px;
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 257px;
  }
}

.card__text {
  min-height: 60px;
  max-width: 240px;
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    min-height: 40px;
    max-width: 289px;
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    min-height: 60px;
    max-width: 257px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
}

.card__price {
  max-width: 90px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  padding: 2px 0;

  @media (min-width: $tablet-width) {
    max-width: 101px;
  }
}

.card__button {
  position: relative;
  width: 142px;
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
  color: $base-white;
  background-color: $base-primary;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    display: block;
    width: 20px;
    height: 16px;
    background-image: url("../../icons/stack.svg#card-button-icon");
  }

  &:hover {
    background-color: $primary-lighter;
  }

  &:focus-visible {
    background-color: $primary-lighter;
    outline: 2px solid $primary-darker;
  }

  &:not(:disabled):active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-gray;
  }
}
