.contacts {
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 0;
  }
}

.contacts__title {
  min-height: 20px;
  max-width: 280px;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $base-primary;

  @media (min-width: $tablet-width) {
    max-width: 222px;
  }

  @media (min-width: $desktop-width) {
    max-width: 317px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
  padding: 0 0 0 19px;
  list-style-type: none;
}

.contacts__link {
  position: relative;
  display: block;
  max-width: 280px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: $base-black;

  @media (min-width: $tablet-width) {
    max-width: 203px;
  }

  @media (min-width: $desktop-width) {
    max-width: 298px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -19px;
    width: 13px;
    height: 16px;
    background-color: $base-primary;
    mask-image: url("../../icons/stack.svg#phone-icon");
  }

  &:hover {
    color: $primary-lighter;
  }

  &:focus-visible {
    color: $primary-lighter;
    outline: 2px solid $base-primary;
  }

  &:active {
    color: $primary-darker;
  }
}

.contacts__text {
  position: relative;
  max-width: 280px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;

  @media (min-width: $tablet-width) {
    max-width: 203px;
  }

  @media (min-width: $desktop-width) {
    max-width: 298px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -19px;
    width: 13px;
    height: 16px;
    background-color: $base-primary;
    mask-image: url("../../icons/stack.svg#address-icon");
  }
}
