.controls__buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.controls__button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  padding: 0;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 11px;
    height: 20px;
    background-color: $base-primary;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.controls__button--previous {
  left: 0;

  &::before {
    left: 4px;
    mask-image: url("../../icons/previous-icon.svg");
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 34px;
    }
  }
}

.controls__button--next {
  right: 0;

  &::before {
    right: 4px;
    mask-image: url("../../icons/next-icon.svg");
  }

  @media (min-width: $tablet-width) {
    &::before {
      right: 34px;
    }
  }
}

.controls__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
  }
}
