.contacts {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0 0;
  }
}

.contacts__title {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $base-primary;
}

.contacts__list {
  margin: 0;
  padding: 0 0 0 19px;
  list-style-type: none;
}

.contacts__link {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: $base-black;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -19px;
    width: 13px;
    height: 16px;
    background-color: $base-primary;
    mask-image: url("../../icons/phone-icon.svg");
  }

  &:hover {
    color: $base-primary;
  }

  &:focus-visible {
    color: $base-primary;
    outline: 2px solid $base-primary;
  }

  &:active {
    color: $base-primary;
    background-color: $base-secondary;
  }
}

.contacts__text {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -19px;
    width: 13px;
    height: 16px;
    background-color: $base-primary;
    mask-image: url("../../icons/address-icon.svg");
  }
}
