.country__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

.country__checkbox {
  min-width: 42px;
}

.country__description {
  max-width: 228px;
}
