.developer {
  display: flex;
  justify-content: center;
  padding: 20px 20px 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.developer__text,
.developer__link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $base-gray;
}

.developer__text {
  margin: 0;
}

.developer__link {
  position: relative;
  padding: 0 16px 0 0;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 16px;
    background-color: $base-gray;
    mask-image: url("../../icons/stack.svg#HTMLAcademy-logo");
  }

  &:hover {
    color: $base-primary;

    &::after {
      background-color: $base-primary;
    }
  }

  &:focus-visible {
    color: $base-primary;
    outline: 2px solid $base-primary;

    &::after {
      background-color: $base-primary;
    }
  }

  &:active {
    color: $primary-darker;

    &::after {
      background-color: $primary-darker;
    }
  }
}
