.developer {
  display: flex;
  justify-content: center;
  padding: 20px 20px 30px;
}

.developer__text,
.developer__link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $base-gray;
}

.developer__text {
  margin: 0 3px 0 0;
}

.developer__link {
  position: relative;
  padding: 0 16px 0 0;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 12px;
    height: 16px;
    background-color: $base-gray;
    mask-image: url("../../images/HTMLAcademy-logo.svg");
  }
}
