.filter {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr min-content;
    gap: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    row-gap: 30px;
  }
}

.filter__block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter__legend {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.filter__input-label {
  display: flex;
  column-gap: 10px;
}

.filter__input-description {
  order: 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.filter__radio {
  display: grid;
  place-items: center;
  appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid $base-gray;

  &::before {
    content: "";
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $base-primary;
  }

  &:checked {
    border-color: $base-primary;
  }

  &:checked::before {
    display: block;
  }

  &:disabled {
    border-color: $light-gray;
  }
}

.filter__checkbox {
  display: flex;
  align-items: center;
  appearance: none;
  width: 42px;
  height: 24px;
  margin: 0;
  border-radius: 12px;
  border: 2px solid $base-gray;
  background-color: $base-gray;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $base-white;
  }

  &:checked {
    justify-content: end;
    border-color: $base-primary;
    background-color: $base-primary;
  }

  &:disabled {
    border-color: $light-gray;
    background-color: $light-gray;
  }
}

.filter__country {
  @media (min-width: $desktop-width) {
    margin: 0 0 10px;
  }
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.filter__button {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  border: none;
  border-radius: 4px;

  &--submit {
    color: $base-white;
    background-color: $base-primary;
  }

  &--reset {
    color: $base-primary;
    background-color: $base-white;
  }
}
