.footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 40px 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    padding: 40px;
  }
}

.footer__logotypes {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    flex-direction: column;
    padding: 0;
  }
}

.footer__logo-wrapper {
  margin: 0 auto 0 0;
  padding: 2px 0;

  @media (min-width: $desktop-width) {
    margin: 0 0 50px;
    padding: 0;
  }
}

.footer__logo-link {
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible .footer__logo-image,
  &:focus-visible .footer__logo-text {
    outline: 2px solid $base-primary;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo-image {
  display: block;
  max-width: 100%;
  object-fit: contain;

  @media (min-width: $desktop-width) {
    margin: 0 0 10px;
  }
}

.footer__logo-text {
  display: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-black;

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 317px;
  }
}

.footer__shop {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.footer__media {
  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.footer__contacts {
  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
}

.footer__developer {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
  }
}
