.header {
  display: flex;
  padding: 0;
  min-width: 320px;
  background-color: $base-white;
  color: $base-black;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding: 0 40px;
  }
}

.header__logo-link {
  display: block;
  margin: 0 auto 0 0;
  padding: 12px 20px;
  color: inherit;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0 67px 0 0;
    padding: 22px 0;

    &:hover {
      opacity: 0.7;
    }

    &:focus-visible {
      outline: 2px solid $base-primary;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0 162px 0 0;
  }
}

.header__logo-image {
  display: block;

  @media (min-width: $desktop-width) {
    margin: 0 20px 0 0;
  }
}

.header__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding: 2px 0;
    width: 126px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
}

.header__main-menu {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    position: initial;
    margin: 0 auto 0 0;
  }

  &--hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.header__button {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: inherit;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: $base-black;
    box-shadow: 0 5px $base-black, 0 10px $base-black;
  }

  &--open::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 22px;
    width: 17px;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--open::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 22px;
    width: 17px;
    height: 2px;
    background-color: $base-black;
    transform: rotate(-45deg);
  }
}
