.main-menu {
  font-family: $montserrat;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-top: 1px solid $base-secondary;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.main-menu__link {
  display: block;
  padding: 20px;
  text-align: center;
  color: $base-black;
  text-decoration: none;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 32px 20px 30px;
    border-bottom: 2px solid transparent;

    &--current {
      border-bottom: 2px solid $base-primary;
    }
  }
}
