.main-menu {
  font-family: $montserrat;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-top: 1px solid $base-secondary;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-menu__list {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    max-width: 400px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
    max-width: 460px;
  }
}

.main-menu__link {
  display: block;
  padding: 20px;
  text-align: center;
  color: $base-black;
  text-decoration: none;
  border-bottom: 1px solid $base-secondary;
  background-color: inherit;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px 30px;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $base-primary;
    }

    &:focus-visible {
      color: $base-primary;
      outline: 2px solid $base-primary;
      outline-offset: -2px;
    }

    &:active {
      color: $base-primary;
      background-color: $base-secondary;
    }

    &--current {
      border-bottom: 2px solid $base-primary;
      color: $base-primary;
    }
  }
}
