.map {
  position: relative;
  min-height: 420px;
  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    min-height: 480px;
  }

  @media (min-width: $desktop-width) {
    min-height: 540px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-4px);
    width: 38px;
    height: 50px;
    background-image: url("../../icons/stack.svg#map-pin");

    @media (min-width: $tablet-width) {
      transform: translateY(-50%) translateX(-8px);
    }

    @media (min-width: $tablet-width) {
      transform: translateY(-50%) translateX(-4px);
    }
  }
}

.map__title {
  margin: 0;
}

.map__image {
  display: block;
  object-fit: cover;
  width: 100%;
}
