.media {
  padding: 20px;
}

.media__title {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $base-primary;
}

.media__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.media__link {
  display: block;
  padding: 8px 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-black;
}
