.media {
  padding: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 0;
  }
}

.media__title {
  max-width: 280px;
  min-height: 20px;
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $base-primary;

  @media (min-width: $tablet-width) {
    max-width: 222px;
  }

  @media (min-width: $desktop-width) {
    max-width: 317px;
  }
}

.media__list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.media__link {
  display: block;
  max-width: 280px;
  padding: 8px 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-black;

  @media (min-width: $tablet-width) {
    max-width: 222px;
  }

  @media (min-width: $desktop-width) {
    max-width: 317px;
  }

  &:hover {
    color: $primary-lighter;
  }

  &:focus-visible {
    color: $primary-lighter;
    outline: 2px solid $base-primary;
  }

  &:active {
    color: $primary-darker;
  }
}
