.milk__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}

.milk__radio {
  min-width: 24px;
}

.milk__description {
  max-width: 246px;
}
