.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.pagination__link {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: $base-primary;
  background-color: $base-white;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &--edge {
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: $base-primary;
      mask-image: url("../../icons/stack.svg#page-icon");
    }
  }

  @media (min-width: $tablet-width) {
    &--edge {
      width: initial;
      height: initial;
      padding: 8px 20px;

      &::before {
        display: none;
      }
    }
  }

  &--edge .pagination__text {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--next {
    &::before {
      transform: rotate(180deg);
    }
  }

  &:hover {
    color: $base-white;
    background-color: $primary-lighter;
  }

  &:focus-visible {
    color: $base-white;
    background-color: $primary-lighter;
    outline: 2px solid $base-primary;
  }

  &--edge:hover {
    &::before {
      background-color: $base-white;
    }
  }

  &--edge:focus-visible {
    &::before {
      background-color: $base-white;
    }
  }

  &:active {
    color: $base-white;
    background-color: $primary-darker;
  }

  &--edge:active {
    &::before {
      background-color: $base-white;
    }
  }

  &:disabled {
    color: $base-white;
    background-color: $light-gray;
  }

  &--edge:disabled {
    pointer-events: none;

    &::before {
      background-color: $base-white;
    }
  }

  &--hidden {
    background-color: $lightest-gray;
    pointer-events: none;

    &::before {
      background-color: $lightest-gray;
    }
  }

  &--hidden .pagination__text {
    color: $lightest-gray;
  }

  &--current,
  &--current:hover,
  &--current:focus-visible,
  &--current:active {
    font-weight: 600;
    color: $base-black;
    background-color: transparent;
    outline: none;
    pointer-events: none;
  }
}

.pagination__link.pagination__link--disabled {
  color: $base-white;
  background-color: $light-gray;
  pointer-events: none;
}
