.price__input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 8px;
    height: 2px;
    background-color: $base-gray;
  }
}

.price__input {
  width: 94px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  border: 2px solid $base-primary;
  border-radius: 4px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 110px;
  }
}
