.price__input-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 8px;
    height: 2px;
    background-color: $base-gray;
  }

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.price__input {
  width: 94px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  background-color: transparent;

  &:focus-visible {
    border-color: $primary-darker;
    outline: none;
  }

  &:disabled {
    border-color: $light-gray;
    color: $base-gray;
  }

  @media (min-width: $tablet-width) {
    width: 67px;
  }

  @media (min-width: $desktop-width) {
    width: 110px;
  }
}

.price__slider {
  width: 280px;
  margin: 0 0 14px;
  padding: 0 12px;
  box-sizing: border-box;
  height: 4px;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin: 0 0 10px;
    padding: 0 11px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    margin: 0 0 12px;
    padding: 0 12px;
  }
}

.slider-target {
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-image: linear-gradient(transparent 1px, $light-gray 1px, $light-gray 3px, transparent);
}

.slider-connect {
  background-color: $primary-lighter;
}

.slider-horizontal .slider-handle {
  position: relative;
  right: -13px;
  top: -10px;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 2px solid $base-primary;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    right: -9px;
  }

  @media (min-width: $desktop-width) {
    right: -17px;
  }

  &::before {
    content: "";
    position: relative;
    top: 1px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
  }

  &::after {
    display: none;
  }

  &:hover {
    &::before {
      background-color: $primary-opacity;
    }
  }

  &:focus-visible {
    outline: none;

    &::before {
      background-color: $primary-opacity;
    }
  }

  &:active {
    border-color: $base-primary;

    &::before {
      background-color: $base-primary;
    }
  }
}
