.products {
  display: flex;
  flex-direction: column;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 0 71px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 61px;
  }
}

.products__pagination {
  @media (min-width: $tablet-width) {
    align-self: end;
  }
}
