.slider {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 656px;

  @media (min-width: $tablet-width) {
    min-height: 828px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
  }
}

.slider__list {
  width: 100vw;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;

  &--top {
    display: grid;
    justify-content: center;
  }
}

.slider__controls {
  position: absolute;
  inset: 0;
}

.slider__button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 11px;
    height: 20px;
    background-color: $base-primary;
  }

  &:disabled {
    cursor: auto;

    &::before {
      background-color: $base-gray;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: initial;
  }
}

.slider__button--previous {
  left: 50%;
  transform: translateX(-160px);

  @media (min-width: $tablet-width) {
    transform: translateX(-384px);
  }

  @media (min-width: $desktop-width) {
    transform: translateX(-720px);
  }

  &::before {
    left: 4px;
    mask-image: url("../../icons/stack.svg#previous-icon");
  }

  &:hover:not(:disabled) {
    background-color: transparent;
    background-image: linear-gradient(to right, $base-white 0%, transparent);
  }

  &:focus-visible:not(:disabled) {
    background-color: transparent;
    background-image: linear-gradient(to right, $base-white 0%, transparent);
    outline: 2px solid $base-primary;
    outline-offset: -2px;
  }

  &:active:not(:disabled) {
    background-color: transparent;
    background-image: linear-gradient(to right, $primary-opacity 0%, transparent);
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 34px;
    }
  }
}

.slider__button--next {
  right: 50%;
  transform: translateX(160px);

  @media (min-width: $tablet-width) {
    transform: translateX(384px);
  }

  @media (min-width: $desktop-width) {
    transform: translateX(720px);
  }

  &::before {
    right: 4px;
    mask-image: url("../../icons/stack.svg#next-icon");
  }

  &:hover:not(:disabled) {
    background-color: transparent;
    background-image: linear-gradient(to left, $base-white 0%, transparent);
  }

  &:focus-visible:not(:disabled) {
    background-color: transparent;
    background-image: linear-gradient(to left, $base-white 0%, transparent);
    outline: 2px solid $base-primary;
    outline-offset: -2px;
  }

  &:active:not(:disabled) {
    background-color: transparent;
    background-image: linear-gradient(to left, $primary-opacity 0%, transparent);
  }

  @media (min-width: $tablet-width) {
    &::before {
      right: 34px;
    }
  }
}

.slider__pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
  }
}
