.slider-pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination__button {
  width: 62px;
  height: 24px;
  padding: 10px 0;
  border: none;
  border-radius: none;
  background-color: transparent;
  background-image: linear-gradient(transparent 10px, $base-white 10px, $base-white 14px, transparent 14px);
  cursor: pointer;

  &--current {
    background-image: linear-gradient(transparent 10px, $base-primary 10px, $base-primary 14px, transparent 14px);
  }

  &:hover {
    background-image: linear-gradient(transparent 10px, $primary-opacity 10px, $primary-opacity 14px, transparent 14px);
  }

  &:focus-visible {
    background-image: linear-gradient(transparent 10px, $primary-opacity 10px, $primary-opacity 14px, transparent 14px);
    outline: 2px solid $base-primary;
  }

  &:active {
    background-image: linear-gradient(transparent 10px, $base-primary 10px, $base-primary 14px, transparent 14px);
  }
}
