.slider-pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination__button {
  width: 62px;
  height: 24px;
  padding: 10px 0;
  border: none;
  border-radius: none;
  background-color: transparent;
}

.slider-pagination__button-color {
  display: block;
  height: 4px;
  width: 62px;
  background-color: $base-white;

  &--current {
    background-color: $base-primary;
  }
}
