.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  display: none;

  &--top {
    display: grid;
  }
}

.slider__controls {
  position: absolute;
  inset: 0;
}
