.slide {
  &--one {
    background-color: $flat-white;

    @media (min-width: $tablet-width) {
      background-color: none;
      background-image: linear-gradient($flat-white 640px, $base-white 640px);
    }

    @media (min-width: $desktop-width) {
      background-color: $flat-white;
      background-image: none;
    }
  }

  &--two {
    background-color: $lavender-latte;

    @media (min-width: $tablet-width) {
      background-color: none;
      background-image: linear-gradient($lavender-latte 640px, $base-white 640px);
    }

    @media (min-width: $desktop-width) {
      background-color: $lavender-latte;
      background-image: none;
    }
  }

  &--three {
    background-color: $espresso;

    @media (min-width: $tablet-width) {
      background-color: none;
      background-image: linear-gradient($espresso 640px, $base-white 640px);
    }

    @media (min-width: $desktop-width) {
      background-color: $espresso;
      background-image: none;
    }
  }
}

.slide__content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  margin: 0;
  padding: 20px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 80px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px min-content min-content 282px;
    column-gap: 30px;
    padding: 0 60px;
  }
}

.slide__title {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    margin: 0 0 16px;
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    max-width: 625px;
    text-align: start;
  }
}

.slide__badge {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $base-primary;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    max-width: 625px;
    align-self: self-end;
    text-align: start;
  }
}

.slide__description {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    max-width: 625px;
    margin: 0 0 40px;
    text-align: start;
  }
}

.slide__braker {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.slide__image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: block;
  justify-self: center;
  margin: 0 auto 10px;
  max-width: 100%;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    grid-row: 5 / 6;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    margin: 0;
    padding: 30px 0 0 44px;
  }
}

.slide__buy {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  display: flex;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
    max-width: 625px;
    place-self: self-start left;
  }
}

.slide__old-price {
  margin: 0 6px 0 0;
  padding: 4px 0;
  min-width: 41px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: line-through;
  color: $base-primary;
}

.slide__new-price {
  margin: 0 20px 0 0;
  padding: 4px 0;
  min-width: 52px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;

  @media (min-width: $desktop-width) {
    margin: 0 18px 0 0;
  }
}

.slide__button {
  width: 113px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  color: $base-white;
  background-color: $base-primary;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
  }

  &:active:not(:disabled) {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-gray;
  }
}
