.social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  max-width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    max-width: 520px;
  }

  @media (min-width: $desktop-width) {
    max-width: 280px;
  }
}

.social__link {
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 4px;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $base-gray;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vk-icon");
  }

  &--pinterest::before {
    mask-image: url("../../icons/stack.svg#pinterest-icon");
  }

  &--ok::before {
    mask-image: url("../../icons/stack.svg#ok-icon");
  }

  &:hover {
    background-color: $base-secondary;

    &::before {
      background-color: $base-primary;
    }
  }

  &:focus-visible {
    background-color: $base-secondary;
    outline: none;

    &::before {
      background-color: $base-primary;
    }
  }

  &:active {
    background-color: $primary-opacity;

    &::before {
      background-color: $base-primary;
    }
  }
}
