.user-menu__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.user-menu__link {
  display: block;
  padding: 22px;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: $base-black;
  }

  &--login::before {
    mask-image: url("../../images/user-icon.svg");
  }

  &--basket::before {
    mask-image: url("../../images/basket-icon.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $base-black;
  }
}

.user-menu__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
